.topbar{
    background-color: blue;
    /* color: aliceblue; */
}

h1{
    text-align: center;
}

table{
    width:100%;
    border-collapse: collapse;

}
th, td{
    border: 1px solid black;
    padding: 11px;

}
th{
    color: maroon;
}

input {
    color: black;
    width: 170px;
    height: 30px;
    padding: 5px 12px;
    margin: 1px;
    font-size: 17px;
    font-weight:bold;
    box-sizing: border-box;
    
}

button {
    
    color: white;
    background-color: green;
    width: 100px;
    height: 30px;
    padding: 5px 12px;
    margin: 5px;
    font-weight: bold;
    font-size: 17px;
    box-sizing: border-box;
    align-items: left;       
}
button:hover{
    background-color: darkgreen;
    cursor: pointer;
}
.input-row {
    color: black;
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 0px 0px 0px;
}

.input-row > input {
    color: gray;
    width: 170px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 2px;
    
}

.date-input {
    position: relative;
    width: 170px;
    height: 30px;
    flex-shrink: 0;
    margin: 1px;
}

.date-input input {
    width: 100%;
    height: 100%;
    font-size: 17px;
    box-sizing: border-box;
}

.date-input span {
    color: gray ;
    position: absolute;
    right: 15px;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    pointer-events: none;
    z-index: 1;
}

.date-input input::-webkit-datetime-edit {
    color: transparent;
}

.date-input input.has-value::-webkit-datetime-edit {
    color: black;
}
