<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>GPS SHINGRAI</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <div class="layout">
    

    <!-- MAIN CONTENT -->
        <div class="main">
             <h1>G P S Shingrai</h1>
            <div class="dashboard">
                <hr class="line1">
                <hr class="line1">
            
            <div>
                <button class="menu-item" id="stdrecords"> students records
         
                 <p>Total = <span id="student-count">0</span></p>
                 
               
                </button>
                
            </div>  

             
             <div>
                <button class="menu-item" id="certificatecreation" > create certificate</button>
             </div>
             
             <div>
                <button class="menu-item" id="history" >certification history</button>
             </div>
             
             <div>
                <button class="menu-item" id="signin" >sign in</button>
             </div>
             
            
             
          </div>
    </div>
<script src="/static/js/home.js"></script>
</body>
</html>