<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>school</title>
  
    <link rel="stylesheet" href="login.css"/>
  </head>
  <body>
  
    <div class="signin-page">
         <div class="container">
          <form id="loginForm" class="signin-form" autocomplete="on">
            <div class="input-icon">
            
              <input
                id="username"
                name="username"
                type="text"
                placeholder="Username"
                required
                autocomplete="username"
              />
            </div>

            <div class="input-icon">
              <i class="bi bi-lock"></i>
              <input
                id="password"
                name="password"
                type="password"
                placeholder="Password"
                required
                autocomplete="current-password"
              />
            <button type="submit" id="loginBtn"                                class="signin-submit">
              <span>Sign in</span>
              <i class="bi bi-arrow-right"></i>
            </button>
   
             <div class="signin-foot">
            <i class="bi bi-info-circle"></i>
            <span
              >No account? <a href="/signup" class="link">Sign up here</a></span>
             </div>
          </form>
         </div>
    </div>

</body>
</html>    