<!DOCTYPE html>
<html>
<head>
    <title>student records</title>
    <link rel="stylesheet" href="/static/css/studentrecords.css">
</head>
<body>
     
    <h1>student records</h1>
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="father_name" placeholder="Father Name">
    <input type="date" id="dateofbirth" placeholder="date of birth">
    <input type="date" id="doj" placeholder="admission date">
  

    <button id="adbtn">add student</button>

    <table>
           <tr>
               <th>student name</th>
               <th>father name</th>
               <th>date of birth</th>
               <th>admission date</th>
            
           </tr>
             
        <tbody id="tablebody"></tbody> 
    </table>
     

    <script src="/static/js/studentrecords.js"></script>

</body>
</html>